@media (max-width: 1440px) {
    .container {
        max-width: 100%;
    }
}

@media (max-width: 1300px) {
    .body {
        background: linear-gradient(135deg, #009689, #2d067e);
    }
    .container {
        padding-top: 150px;
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;
    }
    .trello__header {
        font-size: 30px;
        width: 80%;
        position: fixed;
        top: 20px;
        left: 10%;
        height: 72px;
    }
    .header__clock {
        height: 40px;
        width: 100px;
    }
    .column {
        min-width: 300px;
        height: 60vh;
    }
    .board {
        column-gap: 20px;
        justify-content: unset;
        padding: 0 20px;
        height: 80vh;
        overflow-x: scroll;
    }
};

@media (max-width: 1000px) {
    .modal {
        width: 70%;
    }
}

@media (max-width: 650px) {
    .modal {
        width: 70%;
    }
    .trello__header {
        flex-direction: column;
    }
}