*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding-top: 1%;
}

.trello__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  font-size: 40px;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #E1D5E7;
}

.header__clock{
  height: 60px;
  width: 120px;
  border: 1px solid black;
  border-radius: 10px;
  background-color:#F5F5F5;
  text-align: center;
}

.board{
  height: 80%; 
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

.column{
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #FFFFFF;
}

.column__header{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid black;
  border-radius: 15px;
  margin-bottom: 10px;
}

.column__footer{
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
  border-style: none;
  border-top: 1px solid black;
  border-radius: 15px;
  margin-top: auto;
}

.todo__header, .todo__footer, .task.todo{
  background-color: #D5E8D4;
}

.in-progress__header, .task.inprogress{
  background-color: #F5F5F5;
}

.done__header, .done__footer, .task.done{
  background-color: #DAE8FC;
}

.todo__footer:hover{
  background-color: #c1e7bf;
}

.todo__footer:active{
  background-color: #a0ed9d;
}

.done__footer:hover{
  background-color: #b3cef1;
}

.done__footer:active{
  background-color: #a2c3f0;
}

.task{
  display: flex;
  width: 95%;
  min-height: 200px;
  flex-direction: column;
  justify-content: space-between;
  padding: 4%;
  margin: 0 auto 10px;
  border: 1px solid black;
  border-radius: 30px;
  font-weight: bold;
}

.task__header, .task__content, .task__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10%;
  background-color: #FFFFFF;
}

.task__button:hover{
  background-color: #E1D5E7;
}

.task__button:active{
  background-color: #dcc5e7;
}

.task__button.button-next {
  height: 50px;
} 

.task__button.button-edit,
.task__button.button-back {
  margin-right: 5px;
}

/* MODALS */
.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.modal__bg.active {
  opacity: 1;
  pointer-events: all;
  transition: 0.5s all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #D5E8D4;
  width: 350px;
  height: 200px;
  padding: 10px 30px;
  border-radius: 30px;
  border: 1px solid #D5E8D4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #7bbb77;
  transition: 0.5s all;
}

.modal.active { 
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.modal__header {
  width: 50%;
  height: 15%;
}

.edit__title, .add-todo__title {
  padding: 5px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.modal__body{
  height: 50%;
  width: 100%;
}

.edit__description, .add-todo__description{
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 15px;
  border: 1px solid black;
}

.modal__footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.edit__select, .add-todo__select{ 
  width: 50%;
  height: 85%;
  display: flex;
}

.user__select {
  padding: 1px 20px;
  font-size: 10px;
  border-radius: 3px;
  border: 1px solid black;
}

.edit__buttons, .add-todo__buttons {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.edit__cancel, .edit__confirm, .add-todo__cancel, .add-todo__confirm {
  padding: 3px 10px;
  border-radius: 3px;
  border: 1px solid black;
}



/* WARNING */
.warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #D5E8D4;
  width: 200px;
  height: 100px;
  padding: 0px 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid #7bbb77;
  transition: 0.5s all;
}

.warning.active { 
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}

.done__warning {
  justify-content: space-around;
}

.warning__name {
  text-align: center;
  font-size: 14px;
}

.warning__cancel, .warning__confirm, .warning__accept, 
.add-todo__cancel, .add-todo__confirm, .edit__cancel, .edit__confirm {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px 6px;
}